azuredeploy.json

{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "comments": "This playbook is intended to be run from an Azure Sentinel Incident. It will generate a PagerDuty Incident with the Azure Sentinel Incident information.",
        "author": "Accelerynt"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "AS-PagerDuty-Integration",
            "type": "String"
        },
        "APIAccessKey": {
            "defaultValue": "Enter your PagerDuty API Access Key",
            "type": "String"
        },
        "ServiceId": {
            "defaultValue": "Enter your PagerDuty Service Id",
            "type": "String"
        },
        "CallerEmail": {
            "defaultValue": "Enter the email address of the PagerDuty user on the account associated with the API Access Key",
            "type": "String"
        }
    },
    "variables": {
        "azuresentinel": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azuresentinel')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('PlaybookName')]",
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('azuresentinel'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_Alert": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Add_Comment_to_Incident_(V3)": {
                            "runAfter": {
                                "Create_PagerDuty_Incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@body('Alert_-_Get_Incident')?['id']",
                                    "message": "<p>@{body('Create_PagerDuty_Incident')?['incident']?['html_url']}\" target=_blank&gt;PagerDuty Incident link</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        },
                        "Alert_-_Get_Incident": {
                            "runAfter": {
                                "Initialize_ServiceId": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Incidents/subscriptions/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/resourceGroups/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/workspaces/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/alerts/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}"
                            }
                        },
                        "Compose_Incident_Body": {
                            "runAfter": {
                                "Alert_-_Get_Incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "Description: @{body('Alert_-_Get_Incident')?['properties']?['description']}\n\nSentinel Incident URL: @{body('Alert_-_Get_Incident')?['properties']?['incidentUrl']} "
                        },
                        "Create_PagerDuty_Incident": {
                            "runAfter": {
                                "Compose_Incident_Body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "incident": {
                                        "body": {
                                            "details": "@outputs('Compose_Incident_Body')",
                                            "type": "incident_body"
                                        },
                                        "description": "@body('Alert_-_Get_Incident')?['properties']?['title']",
                                        "message": "@body('Alert_-_Get_Incident')?['properties']?['title']",
                                        "service": {
                                            "id": "@variables('ServiceId')",
                                            "type": "service_reference"
                                        },
                                        "title": "@body('Alert_-_Get_Incident')?['properties']?['title']",
                                        "type": "incident",
                                        "urgency": "high"
                                    }
                                },
                                "headers": {
                                    "Accept": "application/vnd.pagerduty+json;version=2",
                                    "Authorization": "Token token=@{variables('APIAccessKey')}",
                                    "Content-Type": "application/json",
                                    "From": "@variables('CallerEmail')"
                                },
                                "method": "POST",
                                "uri": "https://api.pagerduty.com/incidents"
                            }
                        },
                        "Initialize_APIAccessKey": {
                            "runAfter": {
                                "Initialize_CallerEmail": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "APIAccessKey",
                                        "type": "string",
                                        "value": "[parameters('APIAccessKey')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_CallerEmail": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "CallerEmail",
                                        "type": "string",
                                        "value": "[parameters('CallerEmail')]"
                                    }
                                ]
                            }
                        },
                        "Initialize_ServiceId": {
                            "runAfter": {
                                "Initialize_APIAccessKey": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ServiceId",
                                        "type": "string",
                                        "value": "[parameters('ServiceId')]"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azuresentinel'))]",
                                "connectionName": "[variables('azuresentinel')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}